# PyCharm
.idea
venv

# CLion
Problem #6/C++/XOR linked list/.idea
Problem #6/C++/XOR linked list/cmake-build-debug
Problem #10/C++/JobScheduler/.idea
Problem #10/C++/JobScheduler/cmake-build-debug
Problem #11/C++/AutocompleteSystem_DictVariant/.idea
Problem #11/C++/AutocompleteSystem_DictVariant/cmake-build-debug

# IntelliJ
Problem #7/Java/DecodeMessage/out